local.properties
ext.properties

# for gradle, IDEA
.gradle
build/
*.iml
!.idea/runConfigurations/*
.idea/*.xml
.idea/.name
.idea/copyright/
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/
.idea/dictionaries/
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml

certificate/
apk/
.DS_Store
gradle.properties

app/google-services.json
